[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[alias]
    dt = difftool
    mt = mergetool
[merge]
	tool = bc3
[mergetool "bcomp"]
    trustExitCode = true
    cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool]
    prompt = false
    keepBackup = false
    bc3 = trustExitCode
[diff]
	tool = bc3
[difftool "bcomp"]
    trustExitCode = true
    cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[user]
	name = Lantrix
	email = lantrix@pobox.com
	signingKey = ""
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[push]
	default = simple
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[gpg]
	program = /usr/local/Cellar/gnupg/2.2.17/bin/gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[mergetool "bc3"]
	trustExitCode = true
