[core]
	excludesfile = ~/.gitignore_global
	editor = cursor --wait
[filter "lfs"]
    required = true
[alias]
    dt = difftool
    mt = mergetool
[merge]
	tool = bc
[mergetool "bc"]
    trustExitCode = true
    cmd = bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool]
    prompt = false
    keepBackup = false
    bc = trustExitCode
[diff]
	tool = bc
[difftool "bc"]
    trustExitCode = true
    cmd = bcomp \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[user]
	name = Lantrix
	email = lantrix@pobox.com
	signingKey = ""
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	default = simple
[pull]
	rebase = false
[gpg]
	format = ssh
	program = gpg
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/lantrix/.config/git/allowed_signers
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[mergetool "bc3"]
	trustExitCode = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[rebase]
	abbreviateCommands = true
# [url "git@github.com:"]
# 	insteadOf = https://github.com/
